<div style="margin: auto; text-align: center">
  <%= link_to 'Download', @res['url'], class: 'btn btn-primary', style: "width: 470px; height: 150px; font-size: 100px", target: '_blank', :onclick=> "window.close();"%>
</div>