<div style="margin: auto; text-align: center">
    <%= link_to 'confirm', confirm_path(task_id: @res2['task_id']), class: 'btn btn-primary', style: "width: 400px; height: 150px; font-size: 100px"%>
</div>